<a href="https://colab.research.google.com/github/Edebo/hamoye_phaseA_quiz/blob/master/phaseA_quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
import pandas as pd

In [57]:
data_url = "https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv"
#error_bad_lines : boolean, default True Lines with too many fields (e.g. a csv line with too many commas) will by default cause an exception to be raised, and no DataFrame will be returned.
fuel_data = pd.read_csv(data_url,error_bad_lines=False)

In [58]:
fuel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   record_id                     29523 non-null  object
 1   utility_id_ferc1              29523 non-null  int64
 2   report_year                   29523 non-null  int64
 3   plant_name_ferc1              29523 non-null  object
 4   fuel_type_code_pudl           29523 non-null  object
 5   fuel_unit                     29343 non-null  object
 6   fuel_qty_burned               29523 non-null  float64
 7   fuel_mmbtu_per_unit           29523 non-null  float64
 8   fuel_cost_per_unit_burned     29523 non-null  float64
 9   fuel_cost_per_unit_delivered  29523 non-null  float64
 10  fuel_cost_per_mmbtu           29523 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

In [59]:
#check for missing value
total_null=fuel_data.isnull().sum()
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [60]:
#counting the number of distinct value in fuel_unit columns
fuel_data["fuel_unit"].value_counts()

mcf       11354
ton        8958
bbl        7998
gramsU      464
mmbtu       180
kgU         110
mwhth       100
mwdth        95
gal          84
Name: fuel_unit, dtype: int64

In [61]:
#filling the nan with value mcf
fuel_data["fuel_unit"]=fuel_data["fuel_unit"].fillna(value="mcf")

##**Question** 3
Which of the following fuel type code has the lowest average fuel cost per unit burned?

In [62]:
fuel_data.groupby("fuel_type_code_pudl")["fuel_cost_per_unit_burned"].mean().sort_values(ascending=False)

fuel_type_code_pudl
nuclear   4,955.16
oil         168.88
coal         67.42
waste        19.52
other        18.25
gas          13.66
Name: fuel_cost_per_unit_burned, dtype: float64

##**Question 4**
What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?

In [63]:
fuel_data["fuel_mmbtu_per_unit"].describe()

count   29,523.00
mean         8.49
std         10.60
min          0.00
25%          1.02
50%          5.76
75%         17.01
max        341.26
Name: fuel_mmbtu_per_unit, dtype: float64

##**Question 5**
What is the skewness and kurtosis for the fuel quantity burned in two decimal places?

In [64]:
#skewness measure fuel quantity burned
round(fuel_data["fuel_qty_burned"].skew(),2)

15.85

In [65]:
#kurtosis measure fuel quantity burned
round(fuel_data["fuel_qty_burned"].kurtosis(),2)

651.37

##**Question 6**
Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places? 
(Enter answer in the format: Feature: xxx, Total: xxx, Percent: xxx)

In [66]:
feature = total_null.sort_values(ascending=False)

In [67]:
percent= total_null["fuel_unit"]/len(fuel_data)*100

In [68]:
print("Feature:{},Total:{},Percent:{:.2}".format("fuel_unit",feature[0],percent))

Feature:fuel_unit,Total:180,Percent:0.61

##**Question 8**
Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?

In [69]:
fuel_data.corr()["fuel_cost_per_unit_burned"].sort_values(ascending=False)[-3:-1]

fuel_mmbtu_per_unit   -0.01
fuel_qty_burned       -0.02
Name: fuel_cost_per_unit_burned, dtype: float64

##**Question 9**
For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?

In [70]:
year_fuel_cost_burnt=fuel_data[fuel_data["fuel_type_code_pudl"]=="coal"].groupby("report_year")["fuel_cost_per_unit_burned"].sum()

percent = ((year_fuel_cost_burnt[1998]-year_fuel_cost_burnt[1994])/year_fuel_cost_burnt[1994])*100
print(percent)

-20.56765451826049

##**Question 10**
Which year has the highest average fuel cost per unit delivered?

In [71]:
fuel_data.groupby("report_year")["fuel_cost_per_unit_delivered"].mean().sort_values(ascending=False)

report_year
1997   11,140.20
1996    9,196.71
2000      985.36
2009      652.69
2018      499.27
2015      326.54
1998      287.15
2014      192.74
2013      172.31
2004      139.52
2016      103.90
2010       91.86
1994       63.64
2012       60.99
2001       60.05
2011       59.77
2008       58.59
2003       55.66
2002       47.59
2017       46.20
2007       43.33
2005       41.44
2006       38.66
1995       32.74
1999       25.55
Name: fuel_cost_per_unit_delivered, dtype: float64